<%- include ../layout/header -%>


<h1><%= title %></h1>

<% if(locals.errors){ %>
<div class="alert alert-warning">
    <ul>

        <% Object.values(errors).forEach(function(error){ %>
        <li><%=error.msg%></li>
        <% })  %>

    </ul>
</div>
<% } %>



<form action="" method="post" class="form-group">



    <div class="row">
        <div class="col">
            <table class="table">
                <tr>
                    <td>E-mail</td>
                    <td><%=value.email%></td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td><%=value.username%></td>
                </tr>
                <tr>
                    <td>Fullname</td>
                    <td><%=value.first_name+ " " +value.last_name%></td>
                </tr>
            </table>

        </div>
        <div class="col">

            <div class="form-group">
                <label class="">
                    รหัสผ่านเดิม
                </label>
                <input type="password" class="form-control" name="old_password" value="<%=value.old_password%>">
            </div>

            <div class="form-group">
                <label class="">
                    รหัสผ่านใหม่
                </label>
                <input type="password" class="form-control" name="new_password" value="<%=value.new_password%>">
            </div>

            <div class="form-group">
                <label class="">
                    ยืนยันรหัสผ่าน
                </label>
                <input type="password" class="form-control" name="confirm_password" value="<%=value.confirm_password%>">
            </div>


            <div class="form-group ">
                <input type="submit" value="Save" class="btn btn-success">
            </div>
        </div>
    </div>
</form>
<%- include ../layout/footer -%>